.card {
    border-radius: var(--border-radius);
    background-color: var(--white);
    width: 12rem;
    height: 16rem;
    padding: 1rem;
    box-shadow: var(--shadow);
    transition: var(--transition-shadow);
    transition: transform 0.1s ease-out;
}

.card:hover {
    cursor: pointer;
    box-shadow: var(--shadow-hover);
    z-index: 100;
    transform: translateY(-40px);
}